<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="WEConnect catalogue page">
  <meta name="author" content="Clinton Nkwocha">
  <meta name="keywords" content="WEConnect, WeConnect, WEconnect, business, catalogue">
  <title>WEConnect - Catalogue</title>
  <link rel="shortcut icon" href="./images/favicon.png" type="image/png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>
  <div class="container-fluid" id="catalogue-cover">
    <nav id="catalogue-nav">
      <div class="navbar-header">
        <img src="../images/weconnect.png" alt="weconnect-logo">
      </div>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="../index.html" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="./regbus.html" class="nav-link">Register Business</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link active">Catalogue</a>
        </li>
        <li class="nav-item">
          <a href="./signup.html" class="nav-link">Sign up</a>
        </li>
        <li class="nav-item">
          <a href="./login.html" class="nav-link">Log in</a>
        </li>
      </ul>
    </nav>
    <main id="catalogue-main">
      <div class="container-fluid">
        <form class="form-inline d-flex justify-content-center m-sm-2" id="catalogue-form">
          <input class="form-control mr-sm-2" type="text" placeholder="Enter Location">
          <select name="category" id="select-category" class="form-control mr-sm-2 custom-select">
            <option value="select">select a category</option>
            <option value="all">All</option>
            <option value="technology">Technology</option>
            <option value="entertainment">Entertainment</option>
            <option value="medicine">medicine</option>
            <option value="food">food</option>
            <option value="others">Others</option>
          </select>
          <button class="btn btn-primary form-control" type="submit">Search</button>
        </form>
      </div>
      <!-- cards catalogue -->
      <div class="container" id="wrap">
        <!-- Single row starts -->
        <div class="row">
          <!-- Single card -->
          <div class="col-sm-6 col-lg-3 business-cards">
            <div class="card">
              <div class="img-wrap img-fluid">
                <img src="../images/technology.jpeg" alt="technology">
              </div>
              <div class="card-block">
                <h2 class="card-title">Elon Musk</h2>
                <strong>Name:</strong> Tesla.inc
                <br>
                <strong>Category:</strong> Technology
                <br>
                <strong>Location:</strong> U.S.A
                <br>
                <a href="./viewbus.html" class="btn btn-primary form-control mt-2">View</a>
              </div>
            </div>
          </div>
          <!-- Single card -->
          <div class="col-sm-6 col-lg-3 business-cards">
            <div class="card">
              <div class="img-wrap img-fluid">
                <img src="../images/entertainment.jpeg" alt="entertainment">
              </div>
              <div class="card-block">
                <h2 class="card-title">A.Y</h2>
                <strong>Name:</strong> A.Y Show
                <br>
                <strong>Category:</strong> Entertainment
                <br>
                <strong>Location:</strong> Nigeria
                <br>
                <a href="./viewbus.html" class="btn btn-primary form-control mt-2">View</a>
              </div>
            </div>
          </div>
          <!-- Single card -->
          <div class="col-sm-6 col-lg-3 business-cards">
            <div class="card">
              <div class="img-wrap img-fluid">
                <img src="../images/medicine.jpeg" alt="medicine">
              </div>
              <div class="card-block">
                <h2 class="card-title">Ani Macaulay</h2>
                <strong>Name:</strong> Animal Care Palace
                <br>
                <strong>Category:</strong> Medicine
                <br>
                <strong>Location:</strong> Uganda
                <br>
                <a href="./viewbus.html" class="btn btn-primary form-control mt-2">View</a>
              </div>
            </div>
          </div>
          <!-- Single card -->
          <div class="col-sm-6 col-lg-3 business-cards">
            <div class="card">
              <div class="img-wrap img-fluid">
                <img src="../images/food.jpeg" alt="food">
              </div>
              <div class="card-block">
                <h2 class="card-title">Jeff Bezos</h2>
                <strong>Name:</strong> Whole Foods
                <br>
                <strong>Category:</strong> Food
                <br>
                <strong>Location:</strong> U.S.A
                <br>
                <a href="./viewbus.html" class="btn btn-primary form-control mt-2">View</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Single row starts -->
        <div class="row">
          <!-- Single card -->
          <div class="col-sm-6 col-lg-3 business-cards">
            <div class="card">
              <div class="img-wrap img-fluid">
                <img src="../images/others.jpeg" alt="others">
              </div>
              <div class="card-block">
                <h2 class="card-title">Brown Sindy</h2>
                <strong>Name:</strong> Sindy Fashion
                <br>
                <strong>Category:</strong> Technology
                <br>
                <strong>Location:</strong> Canada
                <br>
                <a href="./viewbus.html" class="btn btn-primary form-control mt-2">View</a>
              </div>
            </div>
          </div>
          <!-- Single card -->
          <div class="col-sm-6 col-lg-3 business-cards">
            <div class="card">
              <div class="img-wrap img-fluid">
                <img src="../images/technology.jpeg" alt="technology">
              </div>
              <div class="card-block">
                <h2 class="card-title">Elon Musk</h2>
                <strong>Name:</strong> Tesla.inc
                <br>
                <strong>Category:</strong> Technology
                <br>
                <strong>Location:</strong> U.S.A
                <br>
                <a href="./viewbus.html" class="btn btn-primary form-control mt-2">View</a>
              </div>
            </div>
          </div>
          <!-- Single card -->
          <div class="col-sm-6 col-lg-3 business-cards">
            <div class="card">
              <div class="img-wrap img-fluid">
                <img src="../images/entertainment.jpeg" alt="entertainment">
              </div>
              <div class="card-block">
                <h2 class="card-title">A.Y</h2>
                <strong>Name:</strong> A.Y Show
                <br>
                <strong>Category:</strong> Entertainment
                <br>
                <strong>Location:</strong> Nigeria
                <br>
                <a href="./viewbus.html" class="btn btn-primary form-control mt-2">View</a>
              </div>
            </div>
          </div>
          <!-- Single card -->
          <div class="col-sm-6 col-lg-3 business-cards">
            <div class="card">
              <div class="img-wrap img-fluid">
                <img src="../images/medicine.jpeg" alt="medicine">
              </div>
              <div class="card-block">
                <h2 class="card-title">Ani Macaulay</h2>
                <strong>Name:</strong> Animal Care Palace
                <br>
                <strong>Category:</strong> Medicine
                <br>
                <strong>Location:</strong> Uganda
                <br>
                <a href="./viewbus.html" class="btn btn-primary form-control mt-2">View</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Single row starts -->
        <div class="row">
          <!-- Single card -->
          <div class="col-sm-6 col-lg-3 business-cards">
            <div class="card">
              <div class="img-wrap img-fluid">
                <img src="../images/food.jpeg" alt="food">
              </div>
              <div class="card-block">
                <h2 class="card-title">Jeff Bezos</h2>
                <strong>Name:</strong> Whole Foods
                <br>
                <strong>Category:</strong> Food
                <br>
                <strong>Location:</strong> U.S.A
                <br>
                <a href="./viewbus.html" class="btn btn-primary form-control mt-2">View</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3 business-cards">
            <div class="card">
              <div class="img-wrap img-fluid">
                <img src="../images/others.jpeg" alt="others">
              </div>
              <div class="card-block">
                <h2 class="card-title">Brown Sindy</h2>
                <strong>Name:</strong> Sindy Fashion
                <br>
                <strong>Category:</strong> Technology
                <br>
                <strong>Location:</strong> Canada
                <br>
                <a href="./viewbus.html" class="btn btn-primary form-control mt-2">View</a>
              </div>
            </div>
          </div>
          <!-- Single card -->
          <div class="col-sm-6 col-lg-3 business-cards">
            <div class="card">
              <div class="img-wrap img-fluid">
                <img src="../images/technology.jpeg" alt="technology">
              </div>
              <div class="card-block">
                <h2 class="card-title">Elon Musk</h2>
                <strong>Name:</strong> Tesla.inc
                <br>
                <strong>Category:</strong> Technology
                <br>
                <strong>Location:</strong> U.S.A
                <br>
                <a href="./viewbus.html" class="btn btn-primary form-control mt-2">View</a>
              </div>
            </div>
          </div>
          <!-- Single card -->
          <div class="col-sm-6 col-lg-3 business-cards">
            <div class="card">
              <div class="img-wrap img-fluid">
                <img src="../images/entertainment.jpeg" alt="entertainment">
              </div>
              <div class="card-block">
                <h2 class="card-title">A.Y</h2>
                <strong>Name:</strong> A.Y Show
                <br>
                <strong>Category:</strong> Entertainment
                <br>
                <strong>Location:</strong> Nigeria
                <br>
                <a href="./viewbus.html" class="btn btn-primary form-control mt-2">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous"></script>
</body>

</html>