<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="WEConnect sign up page">
    <meta name="author" content="Clinton Nkwocha">
    <meta name="keywords" content="WEConnect, WeConnect, WEconnect, business, sign up, signup">
    <title>WEConnect - Sign Up</title>
    <link rel="shortcut icon" href="../images/favicon.png" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
      crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>

  <body>
    <nav class="gen-nav sign-nav">
      <div class="navbar-header">
        <img src="../images/weconnect.png" alt="weconnect-logo">
      </div>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="../index.html" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="./regbus.html" class="nav-link">Register Business</a>
        </li>
        <li class="nav-item">
          <a href="./catalogue.html" class="nav-link">Catalogue</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link active">Sign up</a>
        </li>
        <li class="nav-item">
          <a href="./login.html" class="nav-link">Log in</a>
        </li>
      </ul>
    </nav>
    <main class="gen-main sign-main" class="container-fluid">
      <section class="container all-page">
        <h2>Sign Up</h2>
        <form action="#" method="post">
          <div class="form-group">
            <label for="name">Username:</label>
            <br>
            <input type="text" name="username" id="name" class="form-control" required>
            <br>
            <label for="email">Email Address:</label>
            <br>
            <input type="email" name="mail" id="email" class="form-control" required>
            <br>
            <label for="password">Password:</label>
            <br>
            <input type="password" name="pin" id="password" class="form-control" required>
            <br>
            <label for="confirm-password">Confirm Password:</label>
            <br>
            <input type="password" name="confirm-pin" id="confirm-password" class="form-control" required>
            <br>
            <button id="button" class="btn btn-primary form-control">Sign Up</button>
          </div>
        </form>
      </section>
    </main>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
      crossorigin="anonymous"></script>
  </body>

</html>