<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="WeConnect provides a platform that brings businesses and individuals together. This platform creates awareness for businesses and gives the users the ability to write reviews about the businesses they have interacted with">
    <meta name="author" content="Clinton Nkwocha">
    <meta name="keywords" content="WEConnect, WeConnect, WEconnect, business">
    <title>WEConnect</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="./images/favicon.png" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
      crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
  </head>

  <body>
    <nav class="gen-nav">
      <div class="navbar-header">
        <img src="./images/weconnect.png" alt="weconnect-logo">
      </div>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="#" class="nav-link active">Home</a>
        </li>
        <li class="nav-item">
          <a href="./html/regbus.html" class="nav-link">Register Business</a>
        </li>
        <li class="nav-item">
          <a href="./html/catalogue.html" class="nav-link">Catalogue</a>
        </li>
        <li class="nav-item">
          <a href="./html/signup.html" class="nav-link">Sign up</a>
        </li>
        <li class="nav-item">
          <a href="./html/login.html" class="nav-link">Log in</a>
        </li>
      </ul>
    </nav>
    <main id="index-main" class="gen-main">
      <section id="jumbotron" class="container jumbotron jumbotron-fluid">
        <h1>WEConnect</h1>
        <p>WEConnect provides a platform that brings businesses and individuals together. This platform creates awareness for
          businesses and gives the users the ability to write reviews about the businesses they have interacted with.</p>
        <a href="#more" class="btn btn-primary">Learn More</a>
        <a href="./html/signup.html" class="btn btn-primary">Get Started</a>
      </section>
    </main>
    <section id="learn-more">
      <h1>
        <a name="more"></a>About WEConnect</h1>
      <div id="about" class="row">
        <p class="col-md-12 col-lg-6">WEConnect provide its users a platform where business ideas can be created, searched and reviewed realistically. It
          broadens its users knowledge on which products are needed in the society and those already available. On a large
          scale WEConnect helps to reduce unemployement, make users aware of the business opportunities around them and help
          humanity at large.</p>
        <div id="properties-wrap" class="col-md-12 col-lg-6 row">
          <a href="./html/regbus.html" class="properties col-sm-4 btn btn-primary">Create <br>Business</a>
          <a href="./html/catalogue.html" class="properties col-sm-4 btn btn-primary">Search <br> Business</a>
          <a href="./html/catalogue.html" class="properties col-sm-4 btn btn-primary">Review <br> Business</a>
        </div>
      </div>
    </section>
    <footer>
      <div id="footer-top" class="row">
        <span class="info col-xs-6">
          <a href="#">About Us</a>
          <br>
          <a href="#">What We Do</a>
          <br>
          <a href="# ">Our Partners</a>
          <br>
          <a href="#">Our Supporters</a>
          <br>
          <a href="#">Our Contributors</a>
          <br>
        </span>
        <span class="info col-xs-6">
          <a href="#">Contact Us</a>
          <br>
          <a href="#">Help Center</a>
          <br>
          <a href="#">Support Community</a>
          <br>
          <a href="#">iOS App</a>
          <br>
          <a href="#">Android App</a>
          <br>
        </span>
      </div>
      <div id="footer-bottom" class="row">
        <span id="copyright" class="col-sm-12 col-md-9">
          <span>&copy; 2018 WEConnect</span>
          <a href="#">Terms of Use</a>
          <a href="#">Privacy Policy</a>
        </span>
        <span id="social" class="col-sm-12 col-md-3">
          <a href="#">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </a>
          <a href="#">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
          <a href="#">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
        </span>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
      crossorigin="anonymous"></script>
  </body>

</html>